<!DOCTYPE html>

<html xml:lang="es" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/Cabeza :: Cabeza (~{::body},'login')}">
 <body>
    <h1 class="title" style="text-align: center;">PAGO</h1>








      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
      <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
      <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>    
  
</body>

</html>