<!doctype html>
<html xml:lang="es" th:fragment="Cabeza (template, menu)">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min-jsf.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap-jsf.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} " />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}" />
</head>
<body style="background-image: url(/img/pasarela2.jpg)" >
    <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><h1 style="font-size: 24px">Pasarela USMP</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--pocision login-->
        <div class="navbar-collapse collapse justify-content-between" id="navbarText">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
              <a class="nav-link text-black" href="/catalogo/index">Sobre Nosotros</a>
            </li> 
            <th:block th:if="${session.user!=null}">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>    
            <li class="nav-item">
              <a class="nav-link" href="/contacto/create">Contacto</a>
            </li>
           </th:block>   
                              
          </ul>   
          
          
          <ul class="navbar-nav">
            <th:block th:if="${session.user==null}">
              <li class="nav-item">
              <a href="/cliente/create" class="nav-link text-black">Registrarse</a></li>
              <li class="nav-item">
              <a href="/Usuario/Login" class="nav-link text-black">Iniciar Sesion</a></li>
            </th:block>  
            <span th:if="${session.user != null}" th:text="'Bienvenido ' + ${session.user.userID}" class="text text-black"> - </span>   
            <th:block th:if="${session.user!=null}">              
              <li class="nav-item">
                <a href="/Usuario/Logout" class="nav-link text-black">Cerrar Sesion</a></li>
            </th:block>
          </ul>
        
    </nav> 
    </div>
    <div class="container-fluid">
      <div class="container xd-container">
  
        <th:block th:include="${template}" />
  
        <!--div class="container">
          <div class="row">
            <div class="col-12 text-center">
              Copyright @ 2021 SoftTech
          </div-->
        </div>
      </div>
    </div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>    

  </body>
  
  </html>