<!DOCTYPE html>
<html xml:lang="es" xmlns:th="http://www.thymeleaf.org"
th:replace="~{Cabeza :: Cabeza (~{::body},'home')}">

<body>
    <div class="container" style="position: -100px;">
    
        <div class="card-columns">            
            <div class="card" style="top:100px; left: 460px ; width: 300px; height:85px ;color: #fff;"><br>  
                <h5 class="card-title" style="color:#ffffff;" >--------
                <a class="btn btn-primary" style="width: 150px; height:40px" href="/Usuario/Login">Iniciar Sesion</a>  </h5>           
            </div>
            <br>       
            <div class="card-columns">
                <div class="card" style="top:100px;left: 460px ; width:300px; height:85px;color: #fff;">    <br>              
                    <h5 class="card-title" style="color:#ffffff;" >------------
                        <a class="btn btn-primary" href="/Orden/AddItem/29"><i class="icofont-cart"></i> Registrate</a></h5>
                    </div>                  
            <br>                
                <div class="card-columns">
                    <div class="card" style="top:100px;left: 460px ; width: 300px; height:85px;color: #fff;">   <br>                    
                        <h5 class="card-title" style="color:#ffffff;" >-------------
                        <a class="btn btn-primary" href="/Orden/AddItem/29"><i class="icofont-cart"></i>Contacto</a></h5>                      
                    </div>
    </div>
    
  
</body>
        


</html>