<!DOCTYPE html>

<html xml:lang="es" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/Cabeza :: Cabeza (~{::body},'banco')}">

<body>
  <h1>--AUN NO DISPONIBLE--</h1>
    
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
      <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
      <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>    
   
    </body>

    </html>