<!DOCTYPE html>

<html xml:lang="es" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/Cabeza :: Cabeza (~{::body},'proforma')}">
<body>
      <div class="container">

            <div class="container">
              <table id="example" class="table table-bordered table-responsive" style="width: 100%">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nombre en la Tarjeta</th>
                    <th>numero Tarjeta</th>
                    <th>Tipo Tarjeta</th>
                    <th>Monto</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="proforma : ${proformas}">
                      <td th:text="${proforma.pago.id}"></td>
                      <td th:text="${proforma.pago.nombreTarjeta}"></td>
                      <td th:text="${proforma.pago.numeroTarjeta}"></td>
                      <td th:text="${proforma.pago.tipoTarjeta}"></td>
                      <td th:text="${proforma.pago.monto}"></td>
                  </tr>
                </tbody>
              </table>
              </div>







      
      <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
      <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
      <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
      <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>    
  
</body>

</html>